.alert-animation {
    -webkit-animation: alert-animation 5s ease-in alternate;
    -moz-animation: alert-animation 5s ease-in alternate;
    animation: alert-animation 5s ease-in alternate;
    margin-bottom: -2rem 0;
}

.alert-container {
    position: fixed;
    top: 0.1rem;
    right: 0.1rem;
    z-index: 1000;
}

@keyframes alert-animation {
    0% { opacity: 0; }
    5% { opacity: 1; }
    95% { opacity: 1; }
    100% { opacity: 0; }
}